body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form{
  display: flex;
  justify-content: center;
}

.form-div{
  padding:10px;
  margin: 10px;
}

/*  sheet table */

.qTable {
  margin-bottom: 10px;
  width: 30%;
  display: table;
  font-size: 140%;
  line-height: 23px;
  letter-spacing: 2px;
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif,Arial;
  text-align: center;
}

.lastRow{
  border-bottom:2px solid black;
  margin-left: 50px;
  width:80%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-left:25%;
  /* width:600px; */
}
