body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form{
  display: flex;
  justify-content: center;
}

.form-div{
  padding:10px;
  margin: 10px;
}

/*  sheet table */

.qTable {
  margin-bottom: 10px;
  width: 30%;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
  font-size: 140%;
  line-height: 23px;
  letter-spacing: 2px;
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif,Arial;
  text-align: center;
}
tr{
  line-height: 23px;

}
td {
    display: table-cell;
    vertical-align: inherit;

}

.lastRow{
  border-bottom:2px solid #000;
  width:70%;
}
